.headerMenu {
  display: flex;

  .organizationMenu {
    font-weight: bold;
    font-size: 14px;
    display: flex;
  }
  .menuItem {
    padding-right: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:last-child {
      padding-right: 0;
    }
  }

  .imageSize {
    border-radius: 50%;
    width: 36px;
  }
}
