@import "../../../styles/";

.containerForm {
  padding: 32px 20px;

  .wrapperIpt {
    width: 28%;
  }

  .wrapperIptSM {
    width: calc(28%/2 - 10px);
  }
  
  .wrapperIptFirst {
    margin-top: 20px;
  }

  @media (max-width: $minTablet) {
    .wrapperIpt, .wrapperIptSM {
      width: 100%;
    }
  }

  .wrapperIptRow {
    width: 100%;
    display: flex;
    margin: 20px 0;

    & > :not(:first-child) {
      margin-left: 20px;
    }
  }
  @media (max-width: $minTablet) {
    .wrapperIptRow {
      flex-direction: column;

      .inputCompanyName, .inputFantasyName, .inputTypeProvider {
        width: 100%;
      }

      & > :not(:first-child) {
        margin-top: 20px;
        margin-left: 0;
      }
    }
  }
}