$heightBtn: 40px;
$heightHeader: 60px;
$drawerCollapse: 60px;
$drawerNotCollpase: 240px;
$paddingLeftScreen: 72px;
$paddingRightScreen: 20px;

$medium: 768px;
$minTablet: 1070px;
$widthBtnAction: 40px;
