@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Nunito+Sans:400,600,700,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

button, input, optgroup, select, textarea {
  font-size: 14px;
}
.nex_container {
  margin-left: 240px;
}

.nex_container_collapse {
  margin-left: 70px;
}

.ch-menu::-webkit-scrollbar {
  width: 10px;
}

.ch-menu::-webkit-scrollbar-thumb {
  background-color: #17214b;
  border-radius: 12px;
}

.ch-menu::-webkit-scrollbar-thumb:hover {
  background-color: #6a7279;
}

.ch-menu-submenu {
  position: relative;
}

.containerLoading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}