$colorIcon: #f5568b;
$colorWhite: #ffffff;

.containerHeader {
  padding: 12px;
  display: flex;
}

.imageLogo {
  top: 30px !important;
  left: 28px !important;
  right: 176px !important;
  height: 36px !important;
  min-height: 36px !important;
  max-height: 36px !important;
  width: 36px !important;
  min-width: 36px !important;
  max-width: 36px !important;
  margin: unset !important;
}

.containerIconLeft {
  min-width: 50px;
}

.iconLeft {
  color: $colorWhite;
  margin-right: 20px;
}

.iconLeftActive {
  color: $colorIcon !important;
}

.iconDirectionActive {
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}

.animationReverse {
  transition: transform 0.3s ease-in-out;
  position: absolute;
  right: 12px;
}

.btnMenuItem {
  display: flex;
  align-items: center;
}

.isActiveContainer {
  position: relative;
}

.isActive {
  background-color: $colorIcon;
  width: 4px;
  height: 20px;
  position: absolute;
  left: 4px;
  border-radius: 999px;
}

.containerIconDirection {
  position: absolute;
  bottom: 12px;
  left: 16px;
}

.iconDirectionDrawer {
  color: $colorWhite;
}

.nexMenuSubmenu {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.containerDrawerSmall {
  display: flex;
  align-items: center;
}

.containerDrawerSmallOpened {
  display: flex;
  justify-content: flex-end;
  height: 50px;
}

.nexMenu {
  overflow-x: hidden !important;
  width: unset !important;
  justify-content: unset m !important;
}
