.organizationPage {
  display: flex;
  flex-direction: column;

  .header {
    align-self: flex-end;
    margin-bottom: 16px;
  }

  .actionButton {
    display: flex;

    .editButton {
      margin-right: 10px;
    }
  }
}
