@import "../../styles/";

.container {
  height: $heightHeader;
  display: flex;
}

.bodyActions, .bodyBarNavigation {
  display: flex;
  align-items: center;
}

.bodyBarNavigation {
  width: 60%;
}

.bodyActions {
  display: flex;
  flex-grow: 1;
}

.separator {
  margin: 0 4px
}

.btnClickRedirect {
  cursor: pointer;
}