@import "../../styles/";

.container {
  width: 100%;
  margin-top: 28px;

  .btnAction, .btnCancel {
    height: $heightBtn;
    min-width: $widthBtnAction;
    padding: 12px;
  }

  .btnAction {
    background-color: $primary;
    color: $white;
    font-weight: 700;
  }

  .btnCancel {
    border: 1px solid $grey;
    color: $grey;
    margin-left: 16px;
  }

  @media (max-width: $minDevide) {
    .btnAction, .btnCancel {
      width: 100%;
      margin-left: 0px;
      margin-top: 20px;
    }
  }
}