@import '../../styles/';


.listingTable {
  width: 100%;
  
  
  thead {
    background-color: $backgroundColorHeaderTable;
  }

  th {
    font-weight: 400;
  }

  
  /* tr {
      :last-child {
        td {
          border-bottom: 0;
        }
      }
    }

    th,
    td {
      margin: 0;
      padding: 0.5rem;
      border-bottom: 1px solid black;
      border-right: 1px solid black;

      :last-child {
        border-right: 0;
      }
    } */
}

.paginator {
  display: flex;
  flex-direction: row;
  place-content: flex-end;
  place-items: center;
  padding-left: 15px;
  padding-right: 15px;

  .icon {
    display: flex;
  }
}
.bordered {
  --border-gray: rgba(34, 36, 38, 0.15);

  border: 1px solid var(--border-gray);

  td, th {
    border: 1px solid var(--border-gray);
  }
}