@import '../../styles/';

.containerModal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.alert {
  margin-top: 10px;
  margin-bottom: 10px;
}
